{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}


<!-- 
  tom 1434197
  bob 123
  miki 1234
  jerry 321
  jane 4321
  DROP TABLE 1
  mark 0000     empty
  habr 911      empty
 -->